form {
  border: 1px solid black;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 5px;
  max-width: 300px;
  margin-bottom: 20px;
  border-radius: 5px;
}
button {
  height: 30px;
}
label {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: column;
}
span {
  color: red;
}
.button {
  margin-top: 10px;
}
